@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img{
    background-image: url("../public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.courses-img{

}